@page "/addGym"
@inject GymService gymService
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject ISessionStorageService sessionStorage

<h3>Add gym</h3>

<form>
    <div class="form-group">
        <label for="Name" class="control-label">Name</label>
        <input form="Name" class="form-control" @bind="@gym.Name" />
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateGym" value="Add gym" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    Gym gym = new Gym();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        int loggedIn = await sessionStorage.GetItemAsync<int>("loggedIn");
        if (loggedIn == 0)
        {
            NavigationManager.NavigateTo("login");
        }

        int userType = await sessionStorage.GetItemAsync<int>("userType");
        if (userType != 0)
        {
            NavigationManager.NavigateTo("addGym-notFound");
        }
    }

    protected void CreateGym()
    {

        String message = gymService.AddGym(gym);
        toastService.ShowInfo(message);
        NavigationManager.NavigateTo("gyms");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("gyms");
    }
}
